body {
	padding-top: 15px;
}

.templates {
	padding-left: 35px;
}

.template-variant-code.modal.fade.in {
	top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    margin: 0px;
}

.template-variant-code.modal .modal-body {
	max-height: none;
}

.syntaxhighlighter { 
 overflow-y: hidden !important; 
 overflow-x: auto !important; 
}